<header>
  <img  src="../../../../../assets/img/Perfil-130px.png"
        alt="Foto de perfil"
        width="130px"
        height="130px"
        loading="eager"
  />
  <h1>Henrique Venâncio</h1>
  <aside>
    <div class="container">
      <p>Java Developer | Angular | Spring Framework | Docker | CI/CD | Git - GitHub</p>
      <p>Recife - PE, Brasil</p>
      <p>
        Programador Java com 3 anos de experiência no desenvolvimento de software, especialistaem Back-End.
        Sou capaz de atuar desde a concepção do projeto até a implementação,passando pela criação de protótipos e a realização de testes.
        Habilidades de planejamento,resolução de problemas e trabalho em equipe, visando entregar os melhores resultados ao cliente.
      </p>

      <nav>

        <ul>
          <li>
            <a href="../../../../../assets/pdf/Curriculo-Henrique-Venancio.pdf" target="_blank" class="btn btn-primary">
              Download - CV
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/programadorhenriquev/" target="_blank" class="btn btn-secondary">
              LinkedIn
            </a>
          </li>
        </ul>

      </nav>

      <section>

        <figure>

          <img  src="../../../../../assets/icons/whatsapp.svg"
                alt="Ícone WhatsApp"
                width="22px"
                height="24px"
          />
          <figcaption>
            <a href="https://api.whatsapp.com/send?phone=5581985785488&text=Ol%C3%A1%20Henrique."
            target="_blank">
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (81) 9 8578-5488</p>
            </a>
          </figcaption>

        </figure>

        <figure>

          <img  src="../../../../../assets/icons/e-mail.svg"
                alt="Ícone E-mail"
                width="22px"
                height="24px"
          />
          <figcaption>
            <a href="mailto:henrique.unibratec01@gmail.com"
            target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>henrique.unibratec01&#64;gmail.com</p>
            </a>
          </figcaption>

        </figure>

      </section>

    </div>
  </aside>
</header>
